.logo {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #7fffd4;
}

.grid {
  width: 550px;
  height: 550px;
}

.squareCSS {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
