main {
  height: 100vh;
}

.grid {
  width: 650px;
  height: 650px;
}

.squareCSS {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: solid white;
  outline-width: thin;
}
